<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página inicial</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <h1> Página inicial </h1>

    <hr />
    
    <div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quo voluptatum accusamus atque cum aspernatur ut blanditiis laudantium fuga, 
            dolorem tempore expedita nobis nesciunt iusto aut vel maiores voluptatem 
            laborum animi.
        </p>
    </div>

    <script src="/assets/js/main.js"></script>
</body>
</html>